.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  background-color: #0c1724 !important;
  border: none !important;
  height: 62px;
}

.logo {
  height: 30px !important;
}

.link {
  height: 60px;
}

.links {
  height: 60px;
  display: flex;
  align-items: center;
}
